@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
html,
body {
  font-family: "Inter";
  margin-top: 5vh;
  background-color: #f7f7f7;
  margin-left: 0;
  margin-right: 0;
  padding:0;
}
h1 {
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  background-color: white;
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.25));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  
}


.item {
  margin-left: 5px;
  margin-right: 5px;
}

img.logo {
  display: inline-block;
  height: 8vh;
  margin-top: 10px;
}
.divider {
  width: 20%;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(23, 23, 23);
}


a:hover {
  color: #7a4081;
}

 .active {
  background-color: #c5b0d2;
  padding: 15px;
  border-radius: 10px;
}


.pbj-index{
    font-size: 25px;
    padding-bottom: 3vh;
}

